<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Webarch - dmin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/static/ISCSM/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>

<!-- BEGIN PLUGIN CSS cho service-->
<link href="/static/ISCSM/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/ISCSM/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PLUGIN CSS -->

<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="/static/ISCSM/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<link href="/static/ISCSM/assets/css/style.css" rel="stylesheet" type="text/css"/> 
<link href="/static/ISCSM/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->

<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
<style> 
.small-webif{
	width: 98%;
}
.edit-tab{
	display: block;
	padding-left: 20px !important;
	padding-right: 18px !important;
	padding-top: 2px !important;

}
</style>

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="small-webif">

<!-- BEGIN HEADER -->
	

<!-- Tab Service-->
<div class="row">
<div class="col-md-12">
          <ul class="nav nav-tabs semi-bold" id="tab-01">
            <li class="active"><a href="#tab1hellowWorld"> Windows</a></li>
            <li><a href="#tab1FollowUs"> ISC</a></li>
            <!--li><a href="#tab1Inspire">Win Service</a></li>
            <li class="dropdown"> <a class="dropdown-toggle"
          data-toggle="dropdown"
          href="#"> Dropdown <b class="caret"></b> </a-->
              <!--ul class="dropdown-menu">
                <li><a href="#">New Project</a></li>
                <li><a href="#">Edit Details</a></li>
                <li><a href="#">View More</a></li>
                <li class="divider"></li>
                <li><a href="#" class="text-error">Delete Project</a></li>
              </ul-->
            </li>
          </ul>
          <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
          <div class="tab-content">
            <div class="tab-pane active edit-tab" id="tab1hellowWorld">
              <div class="row column-seperation">
  
  <!--TabWinService-->
		<div class="grid simple">
			  <div class="row-fluid">
		        <div class="span12">
		          <div class="grid simple ">
		            <div class="grid-title">

							<table style="width:100%">       
							    <tr> 
							    <th style="width:75%">         
							          <h4><span class="semi-bold">Windows Service</span></h4>
							          <div class="tools"> <a href="javascript:;" class="collapse"></a></div>
							    </th>
							    <th style="width:25%" class="col-md-7">                 
							        <div class="col-md-2">
							         <button class="btn btn-info btn-cons btn-sm btn-small " onclick="tableToExcelSV('example2', 'Win Service')" type="button"><i class="fa fa-cloud-download"></i> Export</button></div>
							    </th>   
							    </tr>        
							</table>    
		              <!--h4><span class="semi-bold">Window Service</span></h4>
					  <div class="col-md-2">
                <button class="btn btn-info btn-cons btn-sm btn-small" onclick="tableToExcelSV('example2', 'Win Service')" type="button"><i class="fa fa-cloud-download"></i> Export</button></div>
		              <div class="color-bands "></div>
		              <div class="tools"> <a href="javascript:;" class="collapse"></a></div-->
		            </div>
		            <div class="grid-body ">
		              <table style="width:100%" class="table table-hover table-condensed table-striped" id="example2" >
		                <thead>
		                  <tr>
		                    <th>Status</th>
		                    <th>Service Name</th>
		                    <th>Running As</th>
		                  </tr>
		                </thead>
		                
		                <tbody>
		                {%for lstwinsv in result%}
		                  <tr>
		                    <td><span class="">{{lstwinsv.state}}</span></td>
		                    <td><span class="">{{lstwinsv.name}}</span></td>	
							          <td><span class="">{{lstwinsv.startname}}</span></td>      
		                  </tr>	
		 				        {%endfor%}
		                </tbody>
		              </table>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>   
 <!--EndTabWinService-->
           </div>
            </div>
            <div class="tab-pane" id="tab1FollowUs">
              <div class="row">
                <div class="col-md-12">

                          
                    <!--TabWinServiceOwn-->
            
    <div class="grid simple">
        <div class="row-fluid">
            <div class="span12">
              <div class="grid simple ">
                <div class="grid-title">

              <table style="width:100%">       
                  <tr> 
                  <th style="width:75%">         
                        <h4><span class="semi-bold">Windows Service</span></h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a></div>
                  </th>
                  <th style="width:25%" class="col-md-7">                 
                      <div class="col-md-2">
                       <button class="btn btn-info btn-cons btn-sm btn-small " onclick="tableToExcelSV('example', 'Win Service')" type="button"><i class="fa fa-cloud-download"></i> Export</button></div>
                  </th>   
                  </tr>        
              </table>    
                  <!--h4><span class="semi-bold">Window Service</span></h4>
            <div class="col-md-2">
                <button class="btn btn-info btn-cons btn-sm btn-small" onclick="tableToExcelSV('example2', 'Win Service')" type="button"><i class="fa fa-cloud-download"></i> Export</button></div>
                  <div class="color-bands "></div>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a></div-->
                </div>
                <div class="grid-body ">
                  <table style="width:100%" class="table table-hover table-condensed table-striped" id="example" >
                    <thead>
                      <tr>
                        <th> </th>
                        <th>Status</th>
                        <th>Service Name</th>
                        <th>Running As</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                    {%for lstwinown in resultown%}
                      <tr>
                        <td> </td>
                        <td><span class="">{{lstwinown.state}}</span></td>
                        <td><span class="">{{lstwinown.name}}</span></td>  
                        <td><span class="">{{lstwinown.startname}}</span></td>      
                      </tr> 
                    {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>  


                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab1Inspire">
              <div class="row">
                <div class="col-md-12">
                  <h3>Service!</h3>
                  <p>Service</p>
                  <br>
                  <p><a href="#" class="btn-social"><i class="icon-facebook"></i></a> <a href="#" class="btn-social"><i class="icon-twitter"></i> </a> <a href="#" class="btn-social"><i class="icon-dribbble"></i></a> <a href="#" class="btn-social"><i class="icon-pinterest-sign"></i></a> <a href="#" class="btn-social"><i class="icon-tumblr"></i> </a> <a href="#" class="btn-social"><i class="icon-linkedin-sign"></i> </a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>

	<!-- BEGIN CHAT --> 

<!-- END CHAT -->
 
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK--> 
<script src="/static/ISCSM/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/plugins/breakpoints.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script> 
<!-- END CORE JS FRAMEWORK --> 
<!-- BEGIN PAGE LEVEL JS --> 	
<script src="/static/ISCSM/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/pace/pace.min.js" type="text/javascript"></script>  
<script src="/static/ISCSM/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS --> 	

<!-- BEGIN PAGE LEVEL JS cho service-->
<script src="/static/ISCSM/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>    
<script src="/static/ISCSM/assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript" ></script>
<script src="/static/ISCSM/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/static/ISCSM/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
<script type="text/javascript" src="/static/ISCSM/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="/static/ISCSM/assets/js/datatables.js" type="text/javascript"></script>
<!-- BEGIN Export Table --> 
<script src="/static/ISCSM/assets/js/tableToExcelSV.js"></script>
<!-- END Export Table --> 
<script src="/static/ISCSM/assets/js/tabs_accordian.js" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS --> 
<script src="/static/ISCSM/assets/js/core.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/js/chat.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/js/demo.js" type="text/javascript"></script> 

<!-- END CORE TEMPLATE JS --> 
<!--
<script>
// Get the modal
var modal = document.getElementById('myModal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the button that opens the modal
	//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
	//var span = document.getElementsByClassName("close1")[0];

// When the user clicks the button, open the modal
	//btn.onclick = function() {
$('.service').click(function(){
    var tr = $(this).parent();
    $(tr).find('#myModal').show();
  
});


// When the user clicks on <span> (x), close the modal
//span.onclick = function() {
 //   modal.style.display = "none";
//}
$('.close1').click(function(){
   $(this).parent().parent().hide();
    
});


</script>
-->
</body>
</html>