<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>ISC Server-EventViewer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN PLUGIN CSS -->
<link href="/static/ISCSM/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PLUGIN CSS -->
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="/static/ISCSM/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<link href="/static/ISCSM/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="/static/ISCSM/assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->


<!--style>
body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 150;
    overflow: hidden;
    border:3px solid #428bca;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 13px 250px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
</style-->

<style>
textarea
{
  width: 100%;  
  height: 540px;
    
}
.textwrapper
{
  color: #0000FF;
  border:3px solid #428bca;
  
}
</style>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER 

						<ul class="tab">
							<li><a href="javascript:;" class="tablinks" onclick="openCity(event, 'London')">App</a></li>
							<li><a href="javascript:;" class="tablinks" onclick="openCity(event, 'Paris')">System</a></li>
						</ul>
							
						<div id="London" class="tabcontent">
						<form method="POST" >
							<div class="row-fluid">
								<textarea class="textwrapper" rows="" cols="" readonly="readonly">{{result}}</textarea>
							</div>
						</form> 
						</div>
								
						<div id="Paris" class="tabcontent">	
						<form method="POST" >	
							<div class="row-fluid">
								<textarea class="textwrapper" rows="" cols="" readonly="readonly">{{resultsys}}</textarea>
							</div>
						</form> 								
						</div>		-->	
						


    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-pills" id="tab-4">
            <li class="active"><a href="#tab4hellowWorld">App</a></li>
            <li><a href="#tab4FollowUs">System</a></li>
            <!--li><a href="#tab4Inspire">Empty</a></li-->
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab4hellowWorld">
              <div class="row column-seperation">
                <div class="col-md-12">
                <textarea class="textwrapper" rows="" cols="" readonly="readonly">{{result}}</textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab4FollowUs">
              <div class="row">
                <div class="col-md-12">
                  <textarea class="textwrapper" rows="" cols="" readonly="readonly">{{resultsys}}</textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab4Inspire">
              <div class="row">
                <div class="col-md-12">
                  <h3>Follow us & get updated!</h3>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<script src="/static/ISCSM/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/breakpoints.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script>
<!-- END CORE JS FRAMEWORK -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="/static/ISCSM/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- PAGE JS -->
<script src="/static/ISCSM/assets/js/tabs_accordian.js" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS -->
<script src="/static/ISCSM/assets/js/core.js" type="text/javascript"></script>
<script src="/static/ISCSM/assets/js/chat.js" type="text/javascript"></script> 
<script src="/static/ISCSM/assets/js/demo.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
</body>

<!--script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script--> 

<!--
<script>
// Get the modal
var modal = document.getElementById('myModal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the button that opens the modal
	//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
	//var span = document.getElementsByClassName("close1")[0];

// When the user clicks the button, open the modal
	//btn.onclick = function() {
$('.service').click(function(){
    var tr = $(this).parent();
    $(tr).find('#myModal').show();
  
});


// When the user clicks on <span> (x), close the modal
//span.onclick = function() {
 //   modal.style.display = "none";
//}
$('.close1').click(function(){
   $(this).parent().parent().hide();
    
});


</script>
-->
</body>
</html>